In [146]:
import pandas as pd # pandas - a powerful data analysis and manipulation library for Python
import requests # Requests is an HTTP library, written in Python, for human beings.
from datetime import datetime
import googlemaps

In [147]:
#Google Maps API key
apikey = 'AIzaSyDxk6272R8Yu_QDKZRyR27SZBaJKN-_3u0'

## Using sample user origin

In [148]:
#User will input address as text
origin_address = '1512 Shattuck Ave, Berkeley, CA 94709'

In [247]:
#Use Google Maps to grab latitude and longitude
r = requests.get('https://maps.googleapis.com/maps/api/geocode/json?address="%s"&key=%s'%
                 (origin_address, apikey))
result = r.json()['results']
location = result[0]['geometry']['location']
o_lat = location['lat']
o_lon = location['lng']
origin = [o_lat, o_lon]
print(origin)

[37.8798419, -122.2695316]

## Using Amadeus to find nearest airport to user's starting location

In [248]:
pip install amadeus

Requirement already satisfied: amadeus in /Users/nicholesun/opt/anaconda3/lib/python3.7/site-packages (3.5.0)
Note: you may need to restart the kernel to use updated packages.

In [249]:
import json
from amadeus import Client, ResponseError

amadeus = Client(client_id='UmuSC0LY9TgqaZoLDpBR2x74yN0GCahI',
    client_secret='9SbiFzopXFTkVOBz')

In [295]:
# Nearest airport search, put into a result array
#Need to get live latitude and longitudinal data from Google Maps
address_list = []
state_list = []
a_lats = []
a_lons = []
try:
    '''
    What relevant airports are there around a specific location?
    '''
    response = amadeus.reference_data.locations.airports.get(longitude=o_lon, latitude=o_lat)
    for i in response.data:
        data_dict = i
#         print(i)
        address_list.append(data_dict['name'])
        state_list.append(data_dict['address']['stateCode'])
        a_lats.append(data_dict['geoCode']['latitude'])
        a_lons.append(data_dict['geoCode']['longitude'])
except ResponseError as error:
    raise error

In [296]:
print(address_list)
print(a_lats)
print(a_lons)

['SAN FRANCISCO INTL', 'OAKLAND INTL', 'SAN JOSE MNPL', 'EXECUTIVE', 'INTERNATIONAL', 'BUCHANAN FLD', 'TAHOE INTL', 'CHARLES M SCHULZ', 'FRESNO YOSEMITE INTL', 'MONTEREY REGIONAL']
[37.61882, 37.72104, 37.36189, 38.51323, 38.69518, 37.98937, 39.50597, 38.5088, 36.77606, 36.5879]
[-122.3758, -122.2216, -121.9289, -121.4975, -121.5916, -122.058, -119.7731, -122.8139, -119.719, -121.8394]

## Using Google Maps to create dataframe of nearest airport latitudes and longitudes

In [297]:
results = []
# locations_latitude = []
# locations_longitude = []
formatted_address = []
state = []
for location_string in address_list:
    r = requests.get('https://maps.googleapis.com/maps/api/geocode/json?address="%s"&key=%s'%
                     (location_string, apikey))
#     print(r.json())
    result = r.json()['results']
#     print(result)
    location = result[0]['geometry']['location']
#     locations_longitude.append(location['lng'])
#     locations_latitude.append(location['lat'])
    formatted_address.append(result[0]['formatted_address'])
    results.append(result)

In [298]:
df = pd.DataFrame({'address':address_list,'latitude':a_lats,'longitude':a_lons})
df

                address  latitude  longitude
0    SAN FRANCISCO INTL  37.61882  -122.3758
1          OAKLAND INTL  37.72104  -122.2216
2         SAN JOSE MNPL  37.36189  -121.9289
3             EXECUTIVE  38.51323  -121.4975
4         INTERNATIONAL  38.69518  -121.5916
5          BUCHANAN FLD  37.98937  -122.0580
6            TAHOE INTL  39.50597  -119.7731
7      CHARLES M SCHULZ  38.50880  -122.8139
8  FRESNO YOSEMITE INTL  36.77606  -119.7190
9     MONTEREY REGIONAL  36.58790  -121.8394

## Calculate distance from each of these airports to user origin

In [299]:
dist_from_origin = []
time_from_origin = []

In [300]:
origin

[37.8798419, -122.2695316]

In [301]:
origin_str = str(o_lat) + "," + str(o_lon)
print(origin_str)

37.8798419,-122.2695316

In [302]:
#Perform request to use the Google Maps API web service
now = datetime.now()
gmaps = googlemaps.Client(key=apikey)

In [303]:
for idx, row in df.iterrows():
    a_lat = row['latitude']
    a_lon = row['longitude']
    airport_str = str(a_lat) + "," + str(a_lon)
    directions = gmaps.directions(origin = origin_str,destination = airport_str,
                                  mode='driving',departure_time = now)
#     print(directions)
    print(directions[0]['legs'][0]['distance']['text'])
    print(directions[0]['legs'][0]['duration']['text'])
    print(directions[0]['legs'][0]['start_address'])
    print(directions[0]['legs'][0]['end_address'])
    dist_from_origin.append(directions[0]['legs'][0]['distance']['text'])
    time_from_origin.append(directions[0]['legs'][0]['duration']['text'])
    print("~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~")

25.6 mi
38 mins
1512 Shattuck Ave, Berkeley, CA 94709, USA
4 Domestic Terminals Departures Level, San Francisco, CA 94128, USA
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
15.4 mi
28 mins
1512 Shattuck Ave, Berkeley, CA 94709, USA
178 Air Cargo Way, Oakland, CA 94621, USA
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
46.6 mi
58 mins
1512 Shattuck Ave, Berkeley, CA 94709, USA
Norman Y. Mineta San Jose International Airport (SJC), 1701 Airport Blvd, San Jose, CA 95110, USA
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
81.0 mi
1 hour 26 mins
1512 Shattuck Ave, Berkeley, CA 94709, USA
6107 Freeport Blvd, Sacramento, CA 95822, USA
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
82.1 mi
1 hour 28 mins
1512 Shattuck Ave, Berkeley, CA 94709, USA
Alaska Airlines - Sacramento, 6900 Airport Blvd, Sacramento, CA 95837, USA
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
22.5 mi
37 mins
1512 Shattuck Ave, Berkeley, CA 94709, USA
510 Sally Ride Dr, Concord, CA 94520, USA
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
212 mi
3 hours 29 mins
1512 Shattuck Ave, Berkeley, CA 94709, USA
2001 E Plumb Ln, Reno, NV 89502, USA
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
64.1 mi
1 hour 12 mins
1512 Shattuck Ave, Berkeley, CA 94709, USA
Charles M. Schulzâ€“Sonoma County Airport, 2200 Airport Blvd, Santa Rosa, CA 95403, USA
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
186 mi
3 hours 5 mins
1512 Shattuck Ave, Berkeley, CA 94709, USA
Fresno Yosemite International Airport (FAT), 5175 E Clinton Way, Fresno, CA 93727, USA
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
117 mi
2 hours 4 mins
1512 Shattuck Ave, Berkeley, CA 94709, USA
Airport Rd, Monterey, CA 93940, USA
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

In [304]:
df['dist from origin'] = dist_from_origin
df['time from origin'] = time_from_origin
df['state'] = state_list

In [305]:
df

,address,latitude,longitude,dist from origin,time from origin,state
0,SAN FRANCISCO INTL,37.61882,-122.3758,25.6 mi,38 mins,CA
1,OAKLAND INTL,37.72104,-122.2216,15.4 mi,28 mins,CA
2,SAN JOSE MNPL,37.36189,-121.9289,46.6 mi,58 mins,CA
3,EXECUTIVE,38.51323,-121.4975,81.0 mi,1 hour 26 mins,CA
4,INTERNATIONAL,38.69518,-121.5916,82.1 mi,1 hour 28 mins,CA
5,BUCHANAN FLD,37.98937,-122.0580,22.5 mi,37 mins,CA
6,TAHOE INTL,39.50597,-119.7731,212 mi,3 hours 29 mins,NV
7,CHARLES M SCHULZ,38.50880,-122.8139,64.1 mi,1 hour 12 mins,CA
8,FRESNO YOSEMITE INTL,36.77606,-119.7190,186 mi,3 hours 5 mins,CA
9,MONTEREY REGIONAL,36.58790,-121.8394,117 mi,2 hours 4 mins,CA

## Calculate costs to each of these airports

In [306]:
# dictionary to get full name of state from abbreviation
states = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}

In [307]:
gas_prices = pd.read_csv('gasprices.csv', index_col=0)

In [308]:
gas_prices.head()

        State  Regular Price  Mid-Grade Price  Premium Price  Diesel Price
0      Alaska          2.216            2.426          2.532         2.534
1     Alabama          1.647            2.019          2.348         2.383
2    Arkansas          1.535            1.880          2.166         2.250
3     Arizona          2.285            2.593          2.808         2.659
4  California          2.879            3.071          3.186         3.429

In [309]:
def calc_gas_price(state, city_mpg, highway_mpg, fuel_type, trip_length):
    cost_per_gallon = float(gas_prices[gas_prices['State'] == state][fuel_type])
    avg_mpg = 0.5*(city_mpg + highway_mpg)
    price = (trip_length/avg_mpg)*cost_per_gallon
    return price

In [310]:
#test function for 2019 Toyota Prius using example from Travel4All notebook
city_mpg = 48
highway_mpg = 43
gas_type = 'Regular Price'

In [311]:
costs = []
for idx, row in df.iterrows():
    state = row['state']
    
    #get rid of 'mi' and all commas
    trip_length = float(row['dist from origin'][:-3].replace(',',''))
    cost = calc_gas_price(states[state], city_mpg, highway_mpg, gas_type, trip_length)
    costs.append(cost)

In [312]:
df['cost'] = costs
df

,address,latitude,longitude,dist from origin,time from origin,state,cost
0,SAN FRANCISCO INTL,37.61882,-122.3758,25.6 mi,38 mins,CA,1.619833
1,OAKLAND INTL,37.72104,-122.2216,15.4 mi,28 mins,CA,0.974431
2,SAN JOSE MNPL,37.36189,-121.9289,46.6 mi,58 mins,CA,2.948602
3,EXECUTIVE,38.51323,-121.4975,81.0 mi,1 hour 26 mins,CA,5.125253
4,INTERNATIONAL,38.69518,-121.5916,82.1 mi,1 hour 28 mins,CA,5.194855
5,BUCHANAN FLD,37.98937,-122.0580,22.5 mi,37 mins,CA,1.423681
6,TAHOE INTL,39.50597,-119.7731,212 mi,3 hours 29 mins,NV,11.457319
7,CHARLES M SCHULZ,38.50880,-122.8139,64.1 mi,1 hour 12 mins,CA,4.055910
8,FRESNO YOSEMITE INTL,36.77606,-119.7190,186 mi,3 hours 5 mins,CA,11.769099
9,MONTEREY REGIONAL,36.58790,-121.8394,117 mi,2 hours 4 mins,CA,7.403143